<div class="spacer"></div>
{{#if num_volumes}}
  <div class="volumes-circle">
    <div class="center-align">
      <div class="volumes-circle-num">{{num_volumes}}</div>
      <div class="volumes-circle-txt">{{num_volumes_txt}}</div>
    </div>
  </div>
  <div class="clusters-circle">
    <div class="center-align">
      <div class="clusters-circle-num">{{num_clusters}}</div>
      <div class="clusters-circle-txt">{{num_clusters_txt}}</div>
    </div>
  </div>  
  <div class="spacer"></div>
  <div class="spacer"></div>
  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
        <th>Cluster Name</th>
        <th>Volumes</th>
      </tr>
    </thead>
    <tbody>
      {{#each clusters}}
        <tr>
          <td>
            {{name}}
          </td>
          <td>
            <span class="up"></span> {{up_volumes}} <span class="down"></span> {{down_volumes}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
