<h2 class="page-title">
  {{#if volume_up}}
    <div class="status-circle-up"></div>
    {{else}}
    <div class="status-circle-down"></div>
  {{/if}}
  {{name}}
</h2>
<div class="page-sub-title">
  <table class="pure-table pure-table-horizontal">
    <tr><td class="strong">Id:</td><td>{{id}}</td></tr>
    <tr><td class="strong">Status:</td><td>{{status}}</td></tr>
    <tr><td class="strong">Cluster:</td><td>{{cluster}}</td></tr>
    <tr><td class="strong">Type:</td><td>{{type}}</td></tr>
    <tr><td class="strong">Transport Type:</td><td>{{transport}}</td></tr>
    <tr><td class="strong">Replica Count:</td><td>{{replica}}</td></tr>
    <tr><td class="strong">Distribute Count:</td><td>{{distribute}}</td></tr>
    <tr><td class="strong">Stripe Count:</td><td>{{stripe}}</td></tr>
    <tr><td class="strong">Number of Bricks:</td><td class="numcol">{{num_bricks}} ({{up_bricks}} up, {{down_bricks}} down)</td></tr>
  </table>
</div>

<h3>Brick details</h3>
{{#if bricks}}
  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>FS</th>
        <th>Disk usage</th>
        <th>Pid</th>
        <th>Port</th>
      </tr>
    </thead>
    <tbody>
      {{#each bricks}}
        <tr>
          <td>
            {{#if brick_up}}
              <span class="up"></span>
              {{else}}
              <span class="down"></span>
            {{/if}}
            {{name}}
            <div class="brick-additional-details">{{hostUuid}}</div>
          </td>
          {{#if brick_up}}
            <td>{{fs}}</td>
            <td>
              <div class="small-bar-outer">
                <div {{bindAttr class=":small-bar-inner barColor"}} {{bindAttr style="usedPercentageWidth"}}>
                  {{usedPercentage}}%
                </div>
              </div>
            </td>
            <td>{{pid}}</td>
            <td>{{port}}</td>
            {{else}}
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
      N/A
{{/if}}

<h3>Volume Options</h3>
{{#if options}}
  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {{#each options}}
        <tr>
          <td>{{name}}</td>
          <td>{{value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
      N/A
{{/if}}
