<div id="list" class="pure-u-1">
  <div class="list-content">
    {{#each model}}
      {{#link-to "volumes.volume" this}}
        {{#if volume_up}}
          <span class="up"></span>
          {{else}}
          <span class="down"></span>
        {{/if}}
        <strong>{{name}}</strong>
        <div>{{id}}</div>
        <div>{{type}}</div>
        <div class="brick-quick-status">
            Bricks: <span class="up"></span> {{up_bricks}} <span class="down"></span> {{down_bricks}}
          <span class="cluster-tag">{{cluster}}</span>
        </div>
      {{/link-to}}
      {{else}}
          Loading...
    {{/each}}
  </div>
</div>
<div id="main" class="pure-u-1">
  <div class="main-content">
    {{outlet}}
  </div>
</div>
