<div id="list" class="pure-u-1">
  <div class="list-content">
    {{#each model}}
      {{#link-to "volumes.volume" this}}
        <div {{bind-attr class="volume_status_class"}}></div>
        <strong class="list-vol-name">{{name}}</strong>
        <div>{{type}}</div>
        <div class="brick-quick-status">
            Bricks: <span class="up"></span> {{up_bricks}} <span class="down"></span> {{down_bricks}}
          <span class="cluster-tag">{{cluster}}</span>
        </div>
        <div class="volume-id-small">{{id}}</div>
      {{/link-to}}
      {{else}}
        No Volumes available.
    {{/each}}
  </div>
</div>
<div id="main" class="pure-u-1">
  <div class="main-content">
    {{outlet}}
  </div>
</div>
